@import url(./__input/popup__input.css);
@import url(./_opened/popup_opened.css);
@import url(./__buttons/popup__buttons.css);
@import url(./__close/popup__close.css);
@import url(./__form/popup__form.css);
@import url(./__submit/popup__submit.css);
@import url(./__title/popup__title.css);
.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}