.form__about{
    border: 0;
    
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 48px;
    width: 100%;
}
@media screen and (max-width: 700px){
    .form__about{
     font-size: 12px;
     line-height: 15px;
     margin-bottom: 36px;
    }
   }