.grid__like{
    background-image: url(../../../images/like.svg);
    width:  21px;
    height: 18.13px;
    align-self: center;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
    outline: none;
}
.grid__like:hover{
    opacity: 0.5;
    }
   
    .grid__like:active{
        padding: 0;
        border: none;
        background-color: transparent;
        border-radius: 0;
        
    }
    .grid__like:focus{
        padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
    }