.footer {
    width: 86%;
    margin: 0 auto;
    margin-top: 66px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}